#canvas{ 
    border: 1px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1000px;
    height: 600px;
    background-color: white;
    transform: translate(-50%, -50%);
    border: 3px solid black;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
 
    overflow: hidden;
    background-color: wheat;
}
.hidden {
    display: none;
}
.instruction, .character-select, .countdown {
    position: absolute;
    text-align: center;
    justify-content: center;
}
.instruction{
    border: 2px solid black;
    padding: 3rem;
}
.cr-list{
    margin: 2rem 2rem;
}
.cr-list button{
    height: 100px;
    width: 100px;
}

.border{
    border: 3px solid black;
}
.stg-list{
    margin: 2rem ;
}
.stg-list button{
    height: 100px;
    width: 100px;
}
.character-select{
    border: 2px solid ;
   
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.show{
    display: block;
}
.wheel-container {
    position: absolute;
    border: 1px solid black;

    flex-direction: column;
    justify-content: center;
    background-color: gray;
    padding: 3rem;
    
}

.wheel {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #333;
    display: flex;
    margin: 0 auto;
    overflow: hidden;
    transform: rotate(0deg);
    transition: transform 4s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.segment {
    position: absolute;
    width: 50%;
    height: 50%;
    background: lightblue;
    border: 1px solid #333;
    transform-origin: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.segment:nth-child(1) {
    transform: rotate(0deg);
    background: #f00;
}

.segment:nth-child(2) {
    transform: rotate(90deg);
    background: #0f0;
}

.segment:nth-child(3) {
    transform: rotate(180deg);
    background: #00f;
}

.segment:nth-child(4) {
    transform: rotate(270deg);
    background: #ff0;
}

#spinButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
}
.triangle{
    background-color:white;
    width: 50px;
    height: 50px;
    top: 110px;
    left: 167px;
    z-index: 2;
    position: absolute;
    clip-path: polygon(52% 55%, 0 0, 100% 0);
}
.button-random{
    margin: 20px 90px;
    padding: 8px;
    border-radius: 4px;
    outline: none;
}
.flex{
    display: flex;
}